@model Models.ViewSpecificModels.HomeModel

@Html.Partial("_MenuBar")

<hr />
<hr />
<form method="post" action="/Post/Serchresults">
    <div class="col-md-1">
        <input type="text" name="serchText" />
        <button class="btn btn-primary" name="PostID">Search</button>
    </div>
</form>
<hr />
<hr />
<hr />
<hr />

<h3>Latest 5 posts</h3>
<div style="border:1px solid black">
    @foreach (Models.Post item in Model.Latest5)
    {

        @Html.Partial("_Post", item, new ViewDataDictionary { { "id", Session["ID"] } })
    }
    </div>
    <hr />
    <hr />
    <h3>Moust liked 3 posts</h3>
    <div style="border:1px solid black">
        @foreach (Models.Post item in Model.TopLiked3)
        {

            @Html.Partial("_Post", item, new ViewDataDictionary { { "id", Session["ID"] } })
        }
        </div>
        <hr />
        <hr />
        <h3>Posts with latest comments</h3>
        <div style="border:1px solid black">
            @foreach (Models.Post item in Model.Comented3)
            {

                @Html.Partial("_Post", item, new ViewDataDictionary { { "id", Session["ID"] } })

            }
        </div>
