@model IEnumerable<NewsBlog.Models.User>

@{
    ViewBag.Title = "Profile";
}

<h2>Profile</h2>

<table class="table">
    <tr>
        <th>
            @ViewBag.ID
        </th>
        <th>
            @ViewBag.Username
        </th>
        <td>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                Launch demo modal
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <fieldset>
                            <form class="form-horizontal" method="post" action="/Home/ProfilePas">
                                <!-- Form Name -->
                                <legend>New Request</legend>

                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="textinput">currrent password</label>
                                    <div class="col-md-4">
                                        <input id="textinput" name="pasold" type="text" class="form-control input-md  text-danger"  required="" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="textinput">New pasword</label>
                                    <div class="col-md-4">
                                        <input id="textinput" name="pasnew" type="text" class="form-control input-md" required="" />
                                    </div>
                                </div>

                                <!-- Textarea -->
                                <!--<div class="form-group">
            <label class="col-md-4 control-label" for="textarea">Let us know about any additional information here</label>
            <div class="col-md-4">
                <textarea class="form-control" id="textarea1" name="description"></textarea>
            </div>
        </div>-->
                                <!-- Button -->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="singlebutton"></label>
                                    <div class="col-md-4">
                                        <button>Submit Request</button>
                                    </div>
                                </div>
                        </fieldset>
                        </form>
                        @*<div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            ...
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
        </div>*@
                    </div>
                </div>
            </div>
        </td>
    </tr>

</table>
